:root {
  --primary: #495867;
  --secondary: #577399;
  --light-blue: #bdd5ea;
  --white: #f7f7ff;
  --red: #fe5f55;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  background-color: var(--white);
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: var(--primary);
}

h1 i {
  color: var(--primary);
}

h1 i:hover {
  background-image: url(../icons/face-grin-hearts-regular.svg);
}

h3 {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
}

.main-nav {
  width: 95%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 5rem;
  padding: 1.5rem 0 1.5rem 0;
  background-color: var(--light-blue);
}

.main-nav div {
  font-weight: 400;
  padding: 0 10rem 0 10rem;
}

.nav-logo {
  margin-right: auto;
}

.nav-menu {
  margin: auto;
  display: flex;
  gap: 10rem;
  justify-content: center;
}

.nav-menu a {
  color: black;
}
.nav-menu a:hover {
  color: var(--primary);
  font-weight: 700;
}

.nav-btns {
  margin-left: auto;
}

.nav-logo span::hover {
  cursor: pointer;
}

.nav-btns span:hover {
  cursor: pointer;
  color: var(--primary);
}

#icon {
  width: 5rem;
  height: 5rem;
}

.main-container {
  background-color: var(--secondary);
  color: var(--white);
  margin: auto;
  margin-top: 2rem;
  gap: 2rem;
  border: solid;
  border-width: thin;
  width: 85%;
  display: flex;
  flex-direction: row;
  width: 95%;
}

.main-container div {
  width: 50%;
  height: 60rem;
}

#cart-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--white);
  border-left: solid;
  border-color: black;
  color: var(--primary);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  text-align: center;
  font-size: 2rem;
}

#cart-nav a {
  color: black;
  padding-left: 85%;
}

#cart-nav a:hover {
  color: var(--primary);
}

.cart-products-container {  
  display:flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
}

.cart-products-container div{
}

.cart-product-container {
  display: flex;
  flex-direction: row;
  margin: 5.5rem;
  gap: 3rem;
}

.cart-product-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin:auto;
}

.cart-product-title {
  font-size: 2rem;
}

.cart-product-price {
  font-size: 2rem;
  color: black;
  text-align: center;
}

.cart-img {
  width: 10rem;
  height: 12rem;
  margin-right: 40%;
}

.preview-description {
  font-size: 5.5rem;
  font-weight: 500;
  padding: 15rem 1rem 4rem 13rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 30rem;
}

#preview-price {
  font-size: 3rem;
}

.preview-img {
  margin-right: 30rem;
  margin-top: 3rem;
}

.preview-img img {
  width: 90%;
  height: 95%;
}

ul {
  list-style-type: none;
}

.preview button {
  color: var(--white);
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  width: 35%;
  height: 25%;
}

.categories {
  margin: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.categories div:hover {
  cursor: pointer;
  background-color: var(--red);
  color: var(--white);
  border: solid;
  border-width: thin;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.category a {
  font-size: 2.5rem;
}

.category span {
  font-size: 2rem;
  color: rgb(61, 61, 61);
  margin: auto;
}

.main-products-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  margin: 6rem 6rem 6rem 6rem;
  gap: 5rem;
  width: 80%;
  font-size: 40px;
}

.product-card {
  margin: auto;
  width: 30rem;
  height: 32rem;
  border: solid;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-img-container {
  margin: auto;
  display: flex;
  justify-content: center;
}

.product-img {
  width: 18rem;
  height: 20rem;
}

.product-price {
  font-size: 2.8rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  margin-left: 20%;
  margin-top: 1rem;
}

.product-bottom-section {
  display: flex;
  flex-direction: row;
}

.btn-container {
}

.btn-container button {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: var(--white);
  border: 1px solid rgb(138, 138, 138);
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  margin-left: 5rem;
  margin-bottom: 1rem;
}

.btn-container button:hover {
  background-color: var(--red);
}

.footer-container {
  padding: 3rem 0 12rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: var(--light-blue);
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  font-size: 2rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
