:root {
  --primary: #495867;
  --secondary: #577399;
  --light-blue: #bdd5ea;
  --white: #f7f7ff;
  --red: #fe5f55;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: black;
  background-color: var(--white);
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: var(--primary);
}

h1 i {
  color: var(--primary);
}

h1 i:hover {
  background-image: url(../icons/face-grin-hearts-regular.svg);
}

h3 {
  font-size: 2.4rem;
}

a {
  text-decoration: none;
}

.main-nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* padding: 1.5rem 0 1.5rem 0; */
  background-color: var(--light-blue);
  margin-bottom: 20px;
  
}


.main-nav div {
  font-weight: 400;
}

.nav-logo {
  /* margin-right: auto; */
}

.nav-menu {
  /* margin: auto; */
  display: flex;
  gap: 10rem;
  justify-content: center;
}

.nav-menu a {
  color: black;
}
.nav-menu > a:hover {
  color: var(--red);
  font-weight: 700;
}

@media(max-width:620px){
  .nav-menu{
    gap: 4rem;
  }
}

.nav-btns {
  /* margin-left: auto; */
}

.nav-logo span::hover {
  cursor: pointer;
}

.nav-btns span:hover {
  cursor: pointer;
  color: var(--primary);
}

#icon {
  width: 5rem;
  height: 5rem;
}

.main-container {
  background-color: var(--secondary);
  width: 100%;
  /* height: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.main-container div {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width:620px){
  .main-container{
    flex-direction: column-reverse;
    padding-top: 3rem;
  }
}
.preview-description {
  font-size: 5.5rem;
  font-weight: 500;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

#preview-price {
  font-size: 3rem;
}

.preview-btn{
  width: 600px;
}

.preview-img img {
  width: auto;
  height: 400px;
}


#cart-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--white);
  border-left: solid;
  border-color: black;
  color: var(--primary);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  text-align: center;
  font-size: 2rem;
}

#cart-nav a {
  color: black;
  padding-left: 85%;
}

#cart-nav a:hover {
  color: var(--primary);
}

.cart-products-container {  
  display:flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
}

.cart-products-container div{
}

.cart-product-container {
  display: flex;
  flex-direction: row;
  margin: 5.5rem;
  gap: 3rem;
}

.cart-product-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin:auto;
}

.cart-product-title {
  font-size: 2rem;
}

.cart-product-price {
  font-size: 2rem;
  color: black;
  text-align: center;
}

.cart-img {
  width: 10rem;
  height: 12rem;
  margin-right: 40%;
}


ul {
  list-style-type: none;
}

.preview button {
  color: var(--white);
  background-color: var(--red);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  font-size: 2rem;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  width: 150px;
  height: 40px;
}

.preview button:hover{
  background: var(--light-blue);
  color: var(--primary);
}

.categories {
  margin: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}


.categories div:hover {
  cursor: pointer;
  background-color: #ee958e;
  color: var(--white);
  border: solid;
  border-width: thin;
}

.category h3 {
  color: var(--red);
  margin-bottom: 0;
}

.category a {
  font-size: 2.5rem;
}

.category span {
  font-size: 2rem;
  color: rgb(61, 61, 61);
 
}

.cat-btn{
  /* background: var(--red); */
  box-shadow: 0.1px 0.1px 5px var(--primary);
  width: 200px;
  height: 70px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 20px;
  border-radius: 8px;

}

@media(max-width:620px){
  .cat-btn{
    width: 100%;
  }

  .categories{
    gap: 3px;
  }
}

.main-products-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  margin: 4rem 6rem ;
  gap: 5rem;
  width: 100%;
  font-size: 40px;
}

@media(max-width: 620px){
  .products-container {
   
    grid-template-columns: auto;
  }
}

@media(min-width: 1000px){
  .products-container {
   
    grid-template-columns: auto auto auto;
  }
}
@media(min-width: 1400px){
  .products-container {
   
    grid-template-columns: auto auto auto auto ;
  }
}



.product-card {
  margin: auto;
  width: 30rem;
  height: 32rem;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0.1px 0.1px 5px var(--primary);
  border-radius: 8px;
}

.product-img-container {
  margin: auto;
  display: flex;
  justify-content: center;
}

.product-img {
  width: 18rem;
  height: 20rem;
}

.product-price {
  font-size: 2.8rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  margin-left: 20%;
  margin-top: 1rem;
}

.product-bottom-section {
  display: flex;
  flex-direction: row;
}

.btn-container {
}

.btn-container button {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: var(--white);
  border: none;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  box-shadow: 0.1px 0.1px 5px var(--primary);
  cursor: pointer;
  margin-left: 5rem;
  margin-bottom: 1rem;
  background: var(--red);
  color: white;
}

.btn-container button:hover {
  background-color: var(--light-blue);
}

.footer-container {
  padding: 3rem 0 12rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: var(--light-blue);
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
  font-size: 2rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


@media(max-width:620px){
  .footer-section ul{
    font-size: 10px;
  }
  .footer-section h3 {
    font-size: 15px;
  }
}